*
!requirements.txt
!Dockerfile
!build.cjs
!scorekeeper_pipeline/
!scorekeeper_pipeline/*.py
!scorekeeper_remote/
!scorekeeper_remote/*.py
!sql/
!sql/*.sql
!src/
!src/*.js
!src/*.html
!src/*.css
!site/
!site/*.html
!site/*.js
!site/*.css
